body {
    color: #ABC;
    background-color: #012345;
    font-size: 16px;
    margin: 0px auto 0px auto;
    min-width: 680px;
    width: 60%;
    background-image: url("../images/logo.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 384px;
}

div#content {
    background-color: #123456;
    border: 2px solid #999;
    padding: 20px 20px 20px 20px;
}

div#header {
    border-bottom: 2px solid #999;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: #999;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #999;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px #999;
    color: #999;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.info {
    color: #999;
    font-size: 14px;
    font-style: italic;
}

h1 {
    font-size: 24px;
    width: 24em;
}

h2 {
    font-size: 20px;
    width: 20em;
}

a:link {
	color: #DECAFF;
	text-decoration: underline;
}

a:active {
	color: #FADEDD;
	text-decoration: underline;
}

a:visited {
	color: #FACEDD;
	text-decoration: underline;
}

#red a:link {
    color: #FF5555;
}

#red a:active {
    color: #FF5555;
}

#red a:visited {
    color: #FF5555;
}

#green a:link {
    color: #55FF55;
}

#green a:active {
    color: #55FF55;
}

#green a:visited {
    color: #55FF55;
}

#yellow a:link {
    color: #FFFF55;
}

#yellow a:active {
    color: #FFFF55;
}

#yellow a:visited {
    color: #FFFF55;
}

#dontmarginpls p {
    margin-top: 0;
}

p {
    width: 33em;
}

li {
    width: 33em;
}
