<ul>
  <li>
    <a href="/works.html">Works</a>:
    <ul>
      $for(works)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    <a href="/games.html">Games</a>:
    <ul>
      $for(games)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    <a href="/papers.html">Papers</a>:
    <ul>
      $for(papers)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    <a href="/presentations.html">Presentations</a>:
    <ul>
      $for(presentations)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    <a href="/other.html">Other</a>:
    <ul>
      $for(other)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
</ul>
