<ul>
  <li>
    Works:
    <ul>
      $for(works)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    Games:
    <ul>
      $for(games)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    Papers:
    <ul>
      $for(papers)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    Presentations:
    <ul>
      $for(presentations)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
  <li>
    Other:
    <ul>
      $for(other)$
      <li>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
  </li>
</ul>
